@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.services p,
.about p,
.contacts p {
  margin: 0 0 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: normal;
}

.btn {
  display: inline-block;
  padding: 11px 40px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
  outline: none;
}

.btn:active {
  background-color: #ba2732;
}

.btn-filter {
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: transparent;
  border: 1px solid #bdc6ca;
}

.btn-filter:active {
  background-color: transparent;
  border: 1px solid #ee3643;
}

.btn-buy,
.btn-bookmark {
  position: relative;
  width: 135px;
  font-family: "Cuprum", Arial, sans-serif;
}

.btn-buy {
  padding: 10px 45px;
  margin-bottom: 7px;
  box-shadow: inset 0 -3px 0 0 #367315;
  background-color: #63a63e;
}

.btn-buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
  transition-duration: 0.2s;
}

.btn-buy:hover::before,
.btn-buy:focus::before {
  opacity: 1;
  outline: none;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-bookmark {
  padding: 7px 30px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.btn-bookmark:hover,
.btn-bookmark:focus {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.btn-bookmark:active {
  opacity: 0.3;
}

.btn-white {
  color: #000000;
  background-color: #ffffff;
}

.btn-white:hover,
.btn-white:focus {
  color: #ffffff;
  background-color: #ee3643;
}

.btn-white:active {
  background-color: #ba2732;
}

.main-header {
  margin-bottom: 20px;
  padding-bottom: 60px;
  color: #000000;
  background-color: #f4f7f9;
}

.header-top {
  min-height: 42px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-top a {
  color: inherit;
}

.main-header-logo,
.main-footer-logo {
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b6242f;
  cursor: pointer;
}

.main-header-logo {
  width: 220px;
  height: 42px;
  padding: 13px 0;
}

.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ca2c37;
  outline: none;
}

.main-header-search {
  position: relative;
  flex-grow: 1;
}

.main-header-search-btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  opacity: 0.3;
  transition-duration: 0.2s;
}

.main-header-search input {
  width: 100%;
  height: 42px;
  padding-right: 10px;
  padding-left: 50px;
  color: #ffffff;
  background-color: transparent;
  border: 0;
}

.main-header-search-input:hover + .main-header-search-btn,
.main-header-search-input:focus + .main-header-search-btn,
.main-header-search-btn:hover {
  opacity: 1;
}

.main-header-search-input:focus,
.main-header-search-input:active {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.main-header-search-input:focus + .main-header-search-btn path,
.main-header-search-input:active + .main-header-search-btn path {
  fill: #ff0000;
  opacity: 1;
}

.main-header-search input::placeholder {
  color: #ffffff;
}

.main-header-link {
  position: relative;
  min-width: 150px;
  padding: 12px 0 12px 50px;
}

.main-header-link:focus {
  outline: none;
}

.main-header-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  transition-duration: 0.2s;
}

.main-header-link:hover::before,
.main-header-link:focus::before {
  opacity: 1;
}

.main-header-link:active::before {
  opacity: 0.5;
}

.main-header-bookmarks::before {
  left: 22px;
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
}

.main-header-cart::before {
  background: url("../img/icon-cart.svg") no-repeat 0 0;
}

.main-header-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.main-header-link.full {
  background-color: #ee3643;
}

.main-header-order {
  padding: 12px 23px 12px 21px;
  color: #ffffff;
  background-color: #63a63e;
}

.main-header-order:hover,
.main-header-order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.main-header-order:active {
  background-color: #518534;
}

.header-middle {
  padding: 45px 0 40px;
}

.header-middle,
.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.header-middle {
  justify-content: space-between;
}

.header-middle > * {
  width: 300px;
}

.header-middle .caption {
  margin: 0;
  padding: 5px 40px 0 50px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-header-contacts a {
  position: relative;
  display: inline-block;
  padding: 10px 50px 10px 70px;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  vertical-align: top;
  border: 3px solid #ffffff;
}

.main-header-contacts a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.main-header-contacts address {
  padding: 3px 0 0 10px;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
}

.user-menu a:hover,
.user-menu a:focus,
.user-navigation-list a:hover,
.user-navigation-list a:focus {
  color: #ee3643;
  outline: none;
}

.user-navigation-list,
.main-navigation-list {
  margin: 0;
  list-style: none;
}

.user-navigation-list,
.user-info {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user-info {
  margin-bottom: 5px;
}

.user-navigation-list a,
.user-info a {
  display: block;
  padding: 12px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:active,
.user-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .login-link {
  position: relative;
  margin-right: 10px;
  padding-left: 50px;
}

.login-link:hover path,
.login-link:focus path {
  fill: #2f405b;
}

.login-link:active path {
  fill: #c5c5c5;
}

.login-link svg {
  position: absolute;
  top: 14px;
  left: 17px;
  width: 20px;
  height: 17px;
}

.user-info .user-profile {
  position: relative;
  min-width: 250px;
  padding: 12px 0 12px 50px;
}

.user-profile::before,
.user-exit::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/icon-user.svg") no-repeat 0 0;
  opacity: 0.3;
  transition-duration: 0.2s;
}

.user-exit {
  position: relative;
}

.user-exit::before {
  top: 15px;
  left: 18px;
  background: url("../img/icon-logout.svg") no-repeat 0 0;
}

.user-profile:hover::before,
.user-exit:hover::before,
.user-profile:focus::before,
.user-exit:focus::before {
  opacity: 1;
}

.user-profile:active::before,
.user-exit:active::before {
  opacity: 0.3;
}

.user-menu {
  margin: 0;
  padding-left: 20px;
}

.user-menu a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  vertical-align: middle;
  text-decoration: underline;
}

.user-menu a:not(:last-of-type)::before {
  content: "•";
  position: absolute;
  top: 0;
  right: 10px;
}

.user-menu a:not(:last-of-type) {
  padding-right: 28px;
}

.main-navigation {
  min-height: 60px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 55px;
  padding: 0 25px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #243147;
  outline: none;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-navigation-list a {
  display: inline-block;
  padding: 16px 30px;
  color: #ffffff;
  vertical-align: top;
}

.index-column {
  display: flex;
  justify-content: space-between;
}

.category {
  margin-top: 58px;
}

.category-list,
.slider-slides,
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.category-item,
.features-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  padding: 20px 25px;
  color: #ffffff;
}

.category-item {
  margin: 0 20px 20px 0;
}

.category-item:nth-of-type(3n) {
  margin-right: 0;
}

.category-item h3,
.features-item h3 {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 30px;
}

.category-item a,
.features-item a {
  display: block;
  width: 135px;
  min-height: 38px;
  padding: 12px 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.category-item a:hover,
.category-item a:focus,
.features-item a:hover,
.features-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.category-item a:active,
.features-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-item-materials {
  background: #ffbf47 url("../img/icon-1.svg") no-repeat 83% 55%;
}

.category-item-tools {
  background: #3bbce3 url("../img/icon-2.svg") no-repeat 88% 53%;
}

.category-item-technics {
  background: #dc91d8 url("../img/icon-3.svg") no-repeat 86% 50%;
}

.features-item-discount {
  background: #8ed78f url("../img/icon-4.svg") no-repeat 81% 50%;
}

.features-item-delivery {
  background: #ffc047 url("../img/icon-5.svg") no-repeat 86% 55%;
}

/* slider */
.slider {
  color: #ffffff;
}

.slider,
.slider-item {
  position: relative;
}

.slider-item h3,
.slider-item p,
.slider-item .btn,
.slide-prev,
.slide-next {
  position: absolute;
  margin: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 3;
  transform: translate(-50%, 0);
}

.slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: background-color 0.2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

.slider-inner {
  max-width: 620px;
  overflow: hidden;
}

.slider-slides {
  display: flex;
  width: 200%;
}

.slider-item img {
  width: 620px;
  height: 266px;
}

.slider-item h3 {
  top: 22px;
  left: 24px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item p {
  top: 60px;
  left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.slider-item .btn {
  bottom: 29px;
  left: 24px;
  padding: 10px 50px;
}

.slide-prev,
.slide-next {
  top: 42%;
  width: 22px;
  height: 40px;
  background: url("../img/icon-right.svg") no-repeat 0 0;
  border: none;
  cursor: pointer;
}

.slide-prev {
  left: 24px;
  transform: scale(-1, 1);
}

.slide-next {
  right: 20px;
}

/* Popular */
.popular {
  font-family: "PT Sans", Arial, sans-serif;
}

.popular .product-list {
  margin-bottom: 0;
}

.popular .product-item:nth-of-type(3n) {
  margin-right: 20px;
}

.popular .product-item:nth-of-type(4n) {
  margin-right: 0;
}

.popular-title,
.brands-title {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 25px 24px 25px 30px;
  background-color: #f9f5f0;
}

.popular-title .btn,
.brands-title .btn {
  width: 253px;
  padding: 10px 54px;
}

/* Brands */
.brands {
  margin-bottom: 68px;
}

.brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  width: 220px;
  height: 145px;
  margin: 0 20px 20px 0;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  transition-duration: 0.2s;
}

.brands-item:nth-of-type(4n) {
  margin-right: 0;
}

.brands-item:hover,
.brands-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  outline: none;
}

.brands-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.brands-item a {
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

/* Services */
.services {
  margin-bottom: 80px;
  padding: 40px 0 0;
  background-color: #f4f7f9;
}

.services-text {
  max-width: 400px;
  margin-bottom: 68px;
}

.services-slider {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.services h3 {
  margin: 0 0 25px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services label {
  display: block;
  width: 240px;
  padding: 16px 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 rgba(37, 53, 79, 1),
  inset 0 2px 0 0 rgba(62, 79, 105, 1);
  cursor: pointer;
}

.services label:hover,
.services label:focus {
  background-color: #293449;
  outline: none;
}

.services-slider-controls {
  position: relative;
  margin-right: 80px;
}

.services-slider-controls::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 10px;
  height: 280px;
  background: url("../img/shadow.png") no-repeat 0 0;
}

#services-btn-1:checked ~ .services-slider-controls label[for="services-btn-1"],
#services-btn-2:checked ~ .services-slider-controls label[for="services-btn-2"],
#services-btn-3:checked ~ .services-slider-controls label[for="services-btn-3"] {
  color: #000000;
  background-color: #ffffff;
  box-shadow: none;
}

#services-btn-1:checked ~ .services-slider-inner .services-slider-slides {
  transform: translate(0);
}

#services-btn-2:checked ~ .services-slider-inner .services-slider-slides {
  transform: translate(-620px);
}

#services-btn-3:checked ~ .services-slider-inner .services-slider-slides {
  transform: translate(-1240px);
}

.services-slider-inner {
  width: 620px;
  min-height: 284px;
  overflow: hidden;
}

.services-slider-slides {
  display: flex;
  width: 300%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider-item {
  width: 620px;
  height: 100%;
  background-position: right 25px;
  background-repeat: no-repeat;
}

.services-slider-item:nth-of-type(1) {
  background-image: url("../img/delivery.png");
}

.services-slider-item:nth-of-type(2) {
  background-image: url("../img/guarantee.png");
}

.services-slider-item:nth-of-type(3) {
  background-image: url("../img/credit.png");
}

.services-slide-description {
  max-width: 375px;
}

.services-slider-item:first-of-type .services-slide-description {
  max-width: 275px;
}

/* About */
.about,
.contacts {
  padding: 0;
}

.about h2,
.contacts h2 {
  margin: 0 0 25px;
  color: #000000;
}

.about {
  width: 540px;
}

.about > p:last-of-type {
  margin-bottom: 20px;
}

.about-small-width {
  max-width: 390px;
}

.marker-list {
  margin: 0 0 35px;
  padding: 0;
  list-style: none;
}

.marker-list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
}

.marker-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  transform: translate(0, -50%);
}

/* Contacts */
.contacts {
  width: 300px;
}

.contacts p {
  max-width: 180px;
  margin-bottom: 30px;
}

.contacts .btn {
  width: 100%;
  margin-top: 35px;
}

/* INNER */
.inner-page main {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.page-title {
  margin: 0 0 20px;
  padding: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 0 25px 20px 0;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list li:not(:last-of-type) {
  position: relative;
  margin-right: 14px;
  padding-right: 25px;
}

.breadcrumbs-list li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs-list li:first-of-type::after {
  right: 5px;
}

.breadcrumbs-main a {
  display: inline-block;
  width: 16px;
  height: 13px;
  margin-top: 1px;
  vertical-align: top;
  background: url("../img/icon-home.svg") no-repeat 0 0;
}

.breadcrumbs a {
  color: #000000;
}

/* Filters */
.filters {
  width: 220px;
  margin-right: 20px;
  font-size: 15px;
  line-height: 20px;
}

.filter-title,
.sorting {
  margin: 0 0 20px;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters legend {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* range */
.filter-range {
  margin-bottom: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f7f3ec;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding: 39px 20px 0;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #00ca74;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  box-sizing: content-box;
  cursor: pointer;
}

.range-toggle-min {
  left: 18px;
}

.range-toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  line-height: 18px;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
}

/* filter brands */
.filters .filter-brands {
  margin-bottom: 22px;
  padding-bottom: 2px;
  border-bottom: 1px solid #f7f3ec;
}

.filter-option {
  display: flex;
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.filter-option label::before,
.filter-option label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;
  width: 23px;
  height: 23px;
  border: 2px solid #c5c5c5;
}

.filter-option label::after {
  opacity: 0;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.filter-input:checked + label::after {
  opacity: 1;
}

.filter-input:disabled + label,
.filter-input:disabled + label::before {
  opacity: 0.4;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  border-color: #b5b5b5;
}

.filter-input-checkbox + label::before {
  border-radius: 3px;
}

.filter-input-checkbox + label::after {
  top: 0;
  left: 5px;
  z-index: 2;
  width: 20px;
  height: 10px;
  border: 4px solid #c5c5c5;
  border-radius: 0;
  border-top-width: 0;
  border-right-width: 0;
  box-shadow: 2px 2px 0 1px #ffffff,
  inset -1px -2px 0 1px #ffffff;
  transform: rotate(-45deg);
}

/* filter power */
.filters .filter-power {
  margin-bottom: 58px;
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;
  border-width: 4px;
  border-radius: 50%;
}

.filter-input-radio + label::after {
  top: 6px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

/* Sorting */
.sorting {
  padding: 8px 10px 8px 20px;
}

.sorting,
.sorting-list {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.sorting-title {
  min-width: 220px;
  margin: 0;
  font: inherit;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-list li:not(:last-of-type) {
  margin-right: 70px;
}

.sorting-list li:nth-of-type(3) {
  margin-right: 43px;
}

.sorting-list li:nth-of-type(4) {
  margin-right: 22px;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 1.0);
  border-bottom-style: solid;
  outline: none;
}

.sorting-list a:active,
.sorting-current a,
.sorting-current a:hover,
.sorting-current a:focus {
  color: #ee3643;
  border-bottom: none;
}

.sorting-list .sorting-arrow {
  width: 11px;
}

.sorting-arrow path {
  fill: #231f20;
  opacity: 0.2;
}

.sorting-arrow a,
.sorting-arrow a:hover,
.sorting-arrow a:focus {
  border-bottom: none;
}

.sorting-arrow-link:hover path,
.sorting-arrow-link:focus path {
  opacity: 1;
}

.sorting-arrow-active path {
  fill: #ee3643;
  opacity: 1;
}

/* Product List (catalog) */
.catalog {
  width: 700px;
  margin-bottom: 60px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 32px;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  width: 220px;
  margin: 0 20px 20px 0;
  text-align: center;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  transition-duration: 0.2s;
}

.product-item:nth-of-type(3n) {
  margin-right: 0;
}

.product-item:hover,
.product-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item .label,
.category-item .label {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
}

.category-item .label {
  top: 0;
  right: 0;
}

.product-item .label-new,
.category-item .label-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.product-item-image {
  width: 218px;
  height: 168px;
  margin-bottom: 10px;
}

.product-item-links {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 218px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 1.0);
  z-index: 10;
}

.product-item:hover .product-item-links {
  display: block;
}

.product-title {
  margin: 0 0 10px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
}

.product-title a {
  color: #000000;
  text-transform: none;
}

.old-price {
  margin: 0 0 12px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;
}

.old-price-without {
  min-height: 18px;
}

.price {
  position: relative;
  width: 135px;
  margin: auto auto 20px;
  padding: 10px 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -24px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

/* Pagination */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.pagination-item a,
.pagination-item-current {
  display: inline-block;
  padding: 10px 14px;
  color: #000000;
  vertical-align: top;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:not(:last-of-type) {
  margin-right: 10px;
}

.pagination-item:last-of-type a {
  padding: 10px 30px;
}

.pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
  outline: none;
}

.pagination-item a:active {
  color: #000000;
  border: 1px solid #ee3643;
}

/* Description */
.description {
  padding: 40px 0 55px;
  background-color: #f4f7f9;
}

.description p {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

/* FOOTER */
.inner-page .main-footer {
  margin-top: 0;
}

.main-footer .index-rows {
  font-size: 18px;
}

.main-footer {
  margin-top: 85px;
  background-color: #32425c;
}

.main-footer,
.main-footer a {
  color: #f1f5f7;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
  outline: none;
}

.main-footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer ul {
  margin: 0;
  list-style: none;
}

.main-footer-logo {
  width: 220px;
  height: 62px;
  padding: 20px 0;
}

.footer-navigation,
.footer-middle-section {
  display: flex;
  justify-content: space-between;
}

.footer-middle-section {
  padding: 34px 0 48px;
}

.footer-address {
  max-width: 330px;
  padding-left: 5px;
  font-style: normal;
}

.footer-navigation-main,
.footer-navigation-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 550px;
  padding: 0;
}

.footer-navigation-main {
  align-self: flex-end;
}

.footer-navigation-section {
  padding-left: 25px;
}

.footer-navigation-section a {
  color: #ffd180;
}

.footer-bottom-section {
  padding: 37px 0 35px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom-section a {
  color: #ffffff;
}

.footer-copyright {
  width: 380px;
  margin-right: 10px;
}

.footer-copyright p {
  max-width: 230px;
  margin: 0;
}

.footer-feedback,
.footer-develop {
  width: 140px;
}

.footer-social {
  width: 130px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.social-links {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
  opacity: 1;
}

.footer-feedback a,
.footer-develop a {
  color: #ffd180;
  opacity: 1;
}

.footer-feedback a:active,
.footer-develop a:active {
  color: #ee3643;
  opacity: 1;
}

.footer-feedback {
  margin-right: 20px;
  margin-left: auto;
}

.footer-develop {
  padding-left: 30px;
}

/* Modals */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  transform: translate(-50%, -50%);
}

.modal label {
  display: block;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 18px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 8px 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal input::placeholder,
.modal textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b5b5b5;
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 1px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* modal feedback */
.modal-feedback,
.modal-added-product {
  width: 620px;
  padding-top: 50px;
  border-top: 7px solid #ee3643;
}

.modal-feedback .index-column {
  padding: 0 80px;
}

.modal-feedback input {
  width: 220px;
}

.modal-item {
  margin: 0;
}

.modal-item-input:first-of-type {
  margin-right: 20px;
}

.modal-item-textarea {
  padding: 20px 80px 30px;
}

.modal-item-textarea textarea {
  resize: vertical;
}

.modal .wrapper {
  padding: 40px 80px;
  background-color: #f1f1f1;
}

.modal-feedback .btn {
  width: 100%;
}

/* modal map */
.modal-map iframe {
  border: none;
}

/* modal added to cart */
.modal-added-product h2 {
  position: relative;
  margin: 0 0 50px;
  padding: 20px 80px 20px 180px;
  font-size: 30px;
  line-height: 30px;
}

.modal-added-product h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 80px;
  width: 66px;
  height: 67px;
  background: url("../img/icon-mark.svg") no-repeat 0 0;
  transform: translate(0, -50%);
}

.modal-added-product .btn {
  min-width: 220px;
}

.modal-added-product .btn-red {
  margin-right: 15px;
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-hide {
  animation-name: slideUp;
  animation-duration: 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Animations */
@keyframes bounce {
  0% {
    transform: translate(-50%, -500%);
  }

  70% {
    transform: translate(-50%, -30%);
  }

  90% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, -50%);
  }

  80% {
    transform: translate(-50%, -60%);
  }

  100% {
    transform: translate(-50%, -500%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-48%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-52%, -50%);
  }
}
