@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p,
.about p,
.contacts p {
  margin: 0 0 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: normal;
}

/* Buttons */
.btn {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
  outline: none;
}

.btn:active {
  background-color: #ba2732;
}

.btn-filter {
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: transparent;
  border: 1px solid #bdc6ca;
}

.btn-filter:active {
  background-color: transparent;
  border: 1px solid #ee3643;
}

/* HEADER */
.main-header {
  color: #000000;
  background-color: #f4f7f9;
}

.header-top {
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top a {
  color: inherit;
}

.main-header-logo,
.main-footer-logo {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus,
.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ca2c37;
  outline: none;
}

.main-header-search input {
  color: #ffffff;
  background-color: transparent;
  border: 0;
}

.main-header-search input:hover {
  background-color: #212a3a;
}

.main-header-search input:focus,
.main-header-search input:active {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.main-header-search input::placeholder {
  color: #ffffff;
}

.main-header-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.main-header-link.full {
  background-color: #ee3643;
}

.main-header-order {
  color: #ffffff;
  background-color: #63a63e;
}

.main-header-order:hover,
.main-header-order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.main-header-order:active {
  background-color: #518534;
}

.header-middle h1,
.header-h1 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

address {
  font-style: normal;
}

.main-header-contacts a {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.main-header-contacts address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-navigation > a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation > a:hover,
.user-navigation > a:focus,
.user-navigation-list a:hover,
.user-navigation-list a:focus {
  color: #ee3643;
  outline: none;
}

.user-navigation-list,
.main-navigation-list {
  list-style: none;
}

.user-navigation-list a,
.user-info a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:active,
.user-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list a {
  color: #ffffff;
}

/* Navigation */
.main-navigation {
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 rgba(79, 87, 99, 1.0);
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #243147;
  outline: none;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* MAIN */
/* Services */

/* About */


.marker-list {
  list-style: none;
}

/* Contacts */

/* INNER */
.inner-page .container {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.page-title {
  margin: 0 0 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

/* Breadcrumbs */
.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

/* Filters */
.filters {
  font-size: 15px;
  line-height: 20px;
}

.filter-title {
  margin: 0 0 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters ul {
  list-style: none;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */
.index-rows {
  font-size: 18px;
  background-color: #32425c;
}

.main-footer,
.main-footer a {
  color: #f1f5f7;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
  outline: none;
}

.main-footer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer ul {
  margin: 0;
  list-style: none;
}

.footer-navigation-section a {
  color: #ffd180;
}

.footer-bottom-section {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom-section a {
  color: #ffffff;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  color: #ee3643;
  opacity: 1;
}

.footer-feedback a,
.footer-develop a {
  color: #ffd180;
  opacity: 1;
}

.footer-feedback a:active,
.footer-develop a:active {
  color: #ee3643;
  opacity: 1;
}

/* Modals */
.modal {
  display: none;
}
