@charset "UTF-8";

html {
  box-sizing: border-box;

  /*font-family: 'PT Sans', sans-serif;*/
  /*font-family: 'Cuprum', sans-serif;*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

